{% extends 'prof_base.html' %}

{% block content %}
<h2>Mes Documents Soumis</h2>
<div class="table-responsive">
    <style>
        th, td {    
            text-align: center;             /* Center horizontally */
            align-items: center;            /* Center vertically */
        }
    </style>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nom du Document</th> 
                <th>Impression Pour</th> 
                <th>Département</th> 
                <th>Filière</th> 
                <th>Nombre de Copies</th> 
                <th>Format</th> 
                <th>Couleur</th> 
                <th>Date Soumise</th> 
                <th>Validation d'impression</th> 
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
            <tr>
                <td>{{ document.document_file.name }}</td>
                <td>{{ document.impression_pour }}</td> 
                <td>{{ document.departement }}</td> 
                <td>{{ document.filiere }}</td> 
                <td>{{ document.n_copies }}</td> 
                <td>{{ document.format }}</td> 
                <td>{{ document.couleur }}</td> 
                <td>{{ document.date }}</td> 
                <td>{{ document.validation_impression }}</td> 
            </tr>
            {% empty %}
            <tr>
                <td colspan="9">Aucun document soumis pour le moment.</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
